strong{
    background: linear-gradient(to bottom, rgb(255, 82, 212), rgb(96, 0, 64));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.curriculum-container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.6);
}
.curriculum{
    background-color: rgba(0, 0, 0, 0.443);
    width: 90%;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
	border: 7px solid rgb(114 0 129 / 69%);
	box-shadow: 0 0 29px 5px rgba(225, 0, 255, 0.689);
}
section{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.curriculum-title{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 3.5rem;
    text-align: center;
    margin: 100px 0 50px 0;
}
.curriculum-header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 300px;
}
.curriculum-header-image{
    position: relative;
    width: 300px;
    height: 100%;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
	border: 10px solid rgb(114 0 129 / 69%);
    box-shadow: 0 0 29px 5px rgba(225, 0, 255, 0.689);
}
.curriculum-image-shadow{
    position: absolute;
    width: 300px;
    height: 120px;
    margin-top: 100px;
    margin-left: 0px;
    border-radius: 51px;
    box-shadow: 0 0 8px 5px rgb(244, 122, 255);
    border-left: 10px solid rgb(255 171 233);
    border-right: 10px solid rgb(255 171 233);
    animation: light-effect 5s linear infinite;
	transition: transform 0.5s ease-in-out;
}
.curriculum-header-image:hover ~ .curriculum-image-shadow{
	animation-duration: 2s;
	transform: 
}
.curriculum-header-description{
    width: 50%;
    height: 100%;
    color: white;
    text-align: justify;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
}
.curriculum-header-contact{
	width: 50%;
	height: 50px;
	border-radius: 50px;
	color: white;
	font-family: 'Bebas Neue', cursive;
	font-size: 1.7rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	border: 3px solid rgb(114 0 129 / 69%);
    box-shadow: 0 0 29px 5px rgba(225, 0, 255, 0.689);
	transition: all 0.3s ease-in-out;
}
.curriculum-header-contact::before{
	content: '';
	position: absolute;
	width: 200%;
	height: 0;
	left: -50%;
	top: 100%;
	background: linear-gradient(to right, rgb(96, 0, 64), rgb(255, 82, 212));
	border-radius: 50%;
	z-index: -1;
	transition: all 0.3s ease-in-out;
}
.curriculum-header-contact:hover::before{
	top: -50%;
	height: 300px;
}
.curriculum-body-top{
    width: 80%;
    height: 600px;
    display: flex;
    flex-direction: column;
	align-items: center;
    margin-top: 100px;
}
.curriculum-experience-titles{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100px;
}
.curriculum-experience-title{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
	font-family: 'Bebas Neue', cursive;
	position: relative;
	font-size: 1.5rem;
	cursor: pointer;
	transition: box-shadow 0.3s ease-in-out;
}
.curriculum-experience-title:hover{
	box-shadow: 0 18px 10px -15px rgba(225, 0, 255, 0.689);
}
.curriculum-experience-title:nth-child(1){
	box-shadow: 0 18px 10px -15px rgba(225, 0, 255, 0.689);
}
.curriculum-experience-title:nth-child(1)::before{
	content: '';
	position: absolute;
	width: 80px;
	height: 100%;
	left: 0;
	box-shadow: 0 18px 10px -15px rgb(244, 122, 255);
	animation: light-effect2 3s ease-in-out infinite;
}
.curriculum-experience-contents{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}
.curriculum-experience-content{
	width: 80%;
	height: 100px;
	display: inline-flex;
	padding: 0px 0 0px 20px;
	border-radius: 50px;
	overflow: hidden;
	align-items: center;
	transition: all 0.3s ease-in-out;
	border: 3px solid transparent;
}
.curriculum-experience-content-image{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-right: 20px;
}
.curriculum-experience-content-title{
	color: #fff;
	font-family: 'Bebas Neue', cursive;
	font-size: 1.5rem;
	margin-top: 5px;
}
.curriculum-experience-content-years{
	margin-left: 10px;
	color: #ffffff80;
}
.curriculum-experience-content-description{
	color: #fff;
	margin: 0;
	text-align: justify;
	margin-bottom: 5px;
}
.curriculum-experience-content-skills-container{
	width: 240px;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: 20px;
	cursor: pointer;
}
.curriculum-experience-content-skills{
	width: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to left, rgb(114 0 129 / 69%), transparent) ;
	transition: width 0.5s ease-in-out;
	cursor: pointer;
	overflow: hidden;
}
.curriculum-experience-content:hover{
	border: 3px solid rgb(114 0 129 / 69%);
    box-shadow: 0 0 29px 5px rgba(225, 0, 255, 0.689);
}
.curriculum-experience-content:hover .curriculum-experience-content-skills{
	width: 100%;
}
.curriculum-skills-button{
	width: 30%;
	margin-right: -18%;
}

@keyframes light-effect {
    0%{
		transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes light-effect2 {
	0%{
		left: 0;
	}
	50%{
		left: calc(100% - 80px)
	}
	100%{
		left: 0;
	}
}