/* width */
::-webkit-scrollbar {
	width: 7px;
	border-radius: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #00000073;
	border-radius: 20px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	position: absolute;
	background: rgb(114 0 129 / 69%);
	border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: rgb(114 0 129 / 100%);
  }
li{
	position: relative;
	font-weight: 500;
}
li::marker {
	content: '● ';
	color: rgb(192 92 255 / 52%);
}
li::before {
	content: '';
	position: absolute;
	border-radius: 50%;
	width: 6.5px;
	height: 6.5px;
	top: 50%;
	left: -12.6px;
    transform: translateY(calc(-50% + 2px));
	box-shadow: 0 0 4px 2px rgb(192 92 255 / 52%);
}
strong{
    background: linear-gradient(to bottom, rgb(255, 82, 212), rgb(96, 0, 64));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.curriculum-container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-y: scroll;
	overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.6);
}
.curriculum-back-fixed{
	position: absolute;
	width: min(90%, 1920px);
	height: 100px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	/* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.371), rgb(96, 0, 64)); */
	background-color: rgba(255, 255, 255, 0.346);
	display: flex;
	justify-content: center;
	align-items: center;
}
.curriculum-back-fixed-button{
	position: absolute;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff73;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.curriculum-back-fixed-button:hover{
	background-color: #ffffffb7;
}
.curriculum-back-scroll{
	position: fixed;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff73;
    top: 15px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
	animation: curriculumClose 0.5s ease-in-out;
}
.curriculum-back-scroll:hover{
	background-color: #ffffffb7;
}
.curriculum{
    background-color: rgba(0, 0, 0, 0.443);
    width: min(90%, 1920px);
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50%;
    transform: translateX(-50%);
	border: 7px solid rgb(114 0 129 / 69%);
	box-shadow: 0 0 29px 5px rgba(225, 0, 255, 0.689);
	position: relative;
	overflow: hidden;
}
.section{
    width: min(80%, 1000px);
    height: 100%;
    display: flex;
    justify-content: center;
}
.curriculum-title{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 3.5rem;
    text-align: center;
    margin: 100px 0 50px 0;
}
.curriculum-header{
    display: flex;
    justify-content: space-between;
    height: 300px;
}
.curriculum-header-image{
    position: relative;
    width: 300px;
    height: 100%;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
	border: 10px solid rgb(114 0 129 / 69%);
    box-shadow: 0 0 29px 5px rgba(225, 0, 255, 0.689);
}
.curriculum-image-shadow{
    position: absolute;
    width: 300px;
    height: 120px;
    margin-top: 100px;
    margin-left: 0px;
    border-radius: 51px;
    box-shadow: 0 0 8px 5px rgb(244, 122, 255);
    border-left: 10px solid rgb(255 171 233);
    border-right: 10px solid rgb(255 171 233);
    animation: light-effect 5s linear infinite;
	transition: transform 0.5s ease-in-out;
}
.curriculum-header-image:hover ~ .curriculum-image-shadow{
	animation-duration: 2s;
	transform: 
}
.curriculum-header-description{
    width: 50%;
    height: 100%;
    color: white;
    text-align: justify;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
}
.curriculum-birthday{
	color: rgba(255, 255, 255, 0.766);
	font-size: 1.4rem;
	display: flex;
	flex-direction: row-reverse;
	margin-top: 15px;
}
.curriculum-header-contact{
	width: 50%;
	min-height: 50px;
	border-radius: 50px;
	color: white;
	font-family: 'Bebas Neue', cursive;
	font-size: 1.7rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	border: 3px solid rgb(114 0 129 / 69%);
    box-shadow: 0 0 29px 5px rgba(225, 0, 255, 0.689);
	transition: all 0.3s ease-in-out;
}
.curriculum-header-contact::before{
	content: '';
	position: absolute;
	width: 200%;
	height: 0;
	left: -50%;
	top: 100%;
	background: linear-gradient(to right, rgb(96, 0, 64), rgb(255, 82, 212));
	border-radius: 50%;
	z-index: -1;
	transition: all 0.3s ease-in-out;
}
.curriculum-header-contact:hover::before{
	top: -50%;
	height: 300px;
}
.curriculum-body-top{
    height: 600px;
    display: flex;
    flex-direction: column;
	align-items: center;
    margin-top: 200px;
}
.curriculum-experience-titles{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100px;
}
.curriculum-experience-title{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
	font-family: 'Bebas Neue', cursive;
	position: relative;
	font-size: 1.5rem;
	cursor: pointer;
	transition: box-shadow 0.3s ease-in-out;
}
.curriculum-experience-title:hover{
	box-shadow: 0 18px 10px -15px rgba(225, 0, 255, 0.689);
}
.curriculum-experience-title-active{
	box-shadow: 0 18px 10px -15px rgba(225, 0, 255, 0.689);
}
.curriculum-experience-title-active::before{
	content: '';
	position: absolute;
	width: 80px;
	height: 100%;
	left: 0;
	box-shadow: 0 18px 10px -15px rgb(244, 122, 255);
	animation: light-effect2 3s ease-in-out infinite;
}
.curriculum-experience-contents{
	width: 100%;
	min-height: 556px;
	margin-top: 50px;
	display: flex;
    overflow: hidden;
	position: relative;	
}
.curriculum-experience-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	overflow-y: scroll;
	min-width: 100%;
	transition: margin-left 0.5s ease-in-out;
	position: absolute;
}
.curriculum-experience-content{
	width: 80%;
	min-height: 100px;
	position: relative;
	display: inline-flex;
	padding: 0px 0 0px 20px;
	border-radius: 50px;
	overflow: hidden;
	margin: 15px 0;
	align-items: center;
	transition: all 0.3s ease-in-out;
	border: 3px solid transparent;
}
.curriculum-experience-content-image{
	z-index: 1;
	min-width: 80px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.curriculum-experience-content-title{
	color: #fff;
	font-family: 'Bebas Neue', cursive;
	font-size: 1.5rem;
	margin-top: 5px;
}
.curriculum-experience-content-years{
	margin-left: 10px;
	color: #ffffff80;
}
.curriculum-experience-content-description{
	color: #fff;
	margin: 0;
	text-align: justify;
	margin-bottom: 5px;
	margin-right: 20%;
}
.curriculum-experience-content-skills-container{
	width: 240px;
	position: relative;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: 20px;
	cursor: pointer;
}
.curriculum-experience-content-skills{
	height: 100%;
	display: flex;
	position: absolute;
	right: -100%;
	align-items: center;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
	overflow: hidden;
	width: 100%;
	background: linear-gradient(to left, rgb(114 0 129 / 100%) 85%, transparent 100%);
}
.curriculum-skills-back{
	position: absolute;
	width: 40px;
	rotate: 180deg;
	right: 20px;
	z-index: 1;
	cursor: pointer;
}
.curriculum-experience-content:hover{
	border: 3px solid rgb(114 0 129 / 69%);
    box-shadow: 0 0 29px 5px rgba(225, 0, 255, 0.689);
}
.curriculum-experience-content:hover .curriculum-experience-content-skills{
	right: -85%;
}
.curriculum-experience-content-skills-active{
	height: 100%;
	display: flex;
	position: absolute;
	right: 0;
	align-items: center;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
	overflow: hidden;
	width: 100%;
	background: linear-gradient(to left, rgb(114 0 129 / 100%) 85%, transparent 100%);
}
.curriculum-experience-content:hover .curriculum-skills-button{
	width: 40px;
}
.curriculum-skills-button{
	position: absolute;
	left: 7%;
	width: 0px;
	transition: width 0.5s ease-in-out;
	cursor: pointer;
}
.curriculum-experience-skills-container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-left: calc(10% + 40px);
}
.curriculum-experience-skills-text{
	color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
	max-height: 70px;
}
.curriculum-body-bottom{
	margin-top: 100px;
	flex-direction: column;
    align-items: center;
	color: #fff;
	font-family: 'Bebas Neue', cursive;
	font-size: 2.0rem;
}
.curriculum-skills-container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
	position: relative;
}
.curriculum-skills{
	width: min(500px, 35vw);
	height: min(500px, 35vw);
	border-radius: 50%;
	display: flex;
	background: rgba(114, 0, 129, 0.409);
	box-shadow: 0 0 29px 5px rgba(225, 0, 255, 0.689);
	position: relative;
}
.curriculum-skills-background{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Bebas Neue', cursive;
	font-size: 2.3rem;
	color: rgb(246 182 255 / 69%);
	z-index: 2;
}
.curriculum-skills-top{
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
	font-size: 20px;
	z-index: 2;
}
.curriculum-skills-topLeft{
	width: 40%;
	height: 50%;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 20px;
	color: #fff;
	font-size: 20px;
	z-index: 2;
}
.curriculum-skills-bottomLeft{
	width: 50%;
	height: 70%;
	margin-top: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #fff;
	font-size: 20px;
	z-index: 2;
}
.curriculum-skills-bottom{
	width: 50%;
	height: 50%;
	margin-top: calc(50% + 20px);
	display: flex;
	align-items: center;
	flex-direction: column;
	color: #fff;
	font-size: 20px;
	z-index: 2;
}
.curriculum-skills-topRight{
	width: 40%;
	height: 50%;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 27px;
	color: #fff;
	font-size: 20px;
	z-index: 2;
}
.curriculum-skills-bottomRight{
	width: 50%;
	height: 70%;
	margin-top: 30%;
	margin-left: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
	font-size: 20px;
	z-index: 2;
}
.curriculum-skills-center{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
	font-size: 20px;
	z-index: 2;
}
.curriculum-footer{
	width: min(100%, 1600px);
	height: 32pc;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 200px;
	position: relative;
}
.curriculum-footer-background{
	position: relative;
	width: 100%;
	height: 100%;
}
.curriculum-footer-background::after{
	content: '';
	position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 1600px;
	height: 230%;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-top: 5px solid rgb(114 0 129 / 69%);
	border-left: 5px solid rgb(114 0 129 / 69%);
	border-right: 5px solid rgb(114 0 129 / 69%);
    box-shadow: 0 -20px 29px -10px rgba(225, 0, 255, 0.689);
}
.curriculum-footer-background::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-mask: url(../img/curriculumMask.svg) no-repeat center;
	mask: url(../img/curriculumMask.svg) no-repeat center;
	-webkit-mask-position-y: initial;
	mask-size: cover;
	-webkit-mask-size: cover;
	background: linear-gradient(to bottom, rgb(114 0 129 / 69%), rgb(114 0 129 / 14%)) ;
}
.curriculum-footer-mail{
	position: absolute;
	top: 184px;
    left: calc(50% - 323px);
    transform: translate(-50%, -50%);
    width: 109px;
    height: 109px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.curriculum-footer-mail::before{
	content: 'marioantonioalvahowes@gmail.com';
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 303px;
    height: 100%;
    left: 100%;
    font-size: 1.4rem;
	color: #fff;
	font-family: 'Bebas Neue', cursive;
	z-index: -1;
}
.curriculum-footer-mail-image{
	width: 66px;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
.curriculum-footer-mail:hover .curriculum-footer-mail-image{
	opacity: 1;
}
.curriculum-footer-phone{
	position: absolute;
	top: 184px;
    left: calc(50% + 124px);
    transform: translate(-50%, -50%);
    width: 109px;
    height: 109px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.curriculum-footer-phone::before{
	content: '+34 633 691 545';
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 150px;
	height: 100%;
	left: 100%;
	font-size: 1.4rem;
	color: #fff;
	font-family: 'Bebas Neue', cursive;
	z-index: -1;
}
.curriculum-footer-phone-image{
	width: 61px;
    margin-right: 1px;
    margin-top: 1px;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
}
.curriculum-footer-phone:hover .curriculum-footer-phone-image{
	opacity: 1;
}
.curriculum-footer-linkedin{
	position: absolute;
    width: 58px;
    bottom: 88px;
    height: 58px;
    left: calc(50% - 259px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
	overflow: hidden;
}
.curriculum-footer-linkedin::before{
	content: '';
	position: absolute;
	width: 120%;
	height: 120%;
	top: -100%;
	left: 100%;
	background: linear-gradient(to bottom, #084d92, #0a66c2);
	border-radius: 50%;
	z-index: -1;
	transition: all 0.3s ease-in-out;
}
.curriculum-footer-linkedin:hover::before{
	top: -10%;
	left: -10%;
}
.curriculum-footer-linkedin-image{
	width: 33px;
    margin-right: -2px;
    margin-top: -1px;
	transition: opacity 0.4s ease-in-out;
	opacity: 0;
}
.curriculum-footer-linkedin:hover .curriculum-footer-linkedin-image{
	opacity: 1;
}
.curriculum-footer-whatsapp{
	position: absolute;
	width: 58px;
    bottom: 87px;
    height: 59px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
	overflow: hidden;
}
.curriculum-footer-whatsapp::before{
	content: '';
	position: absolute;
	width: 120%;
	height: 120%;
	top: -100%;
	left: 100%;
	background: linear-gradient(to bottom, #1c994a, #26d366);
	border-radius: 50%;
	z-index: -1;
	transition: all 0.3s ease-in-out;
}
.curriculum-footer-whatsapp:hover::before{
	top: -10%;
	left: -10%;
}
.curriculum-footer-whatsapp-image{
	width: 35px;
	transition: opacity 0.4s ease-in-out;
	opacity: 0;
}
.curriculum-footer-whatsapp:hover .curriculum-footer-whatsapp-image{
	opacity: 1;
}
.curriculum-footer-instagram{
	position: absolute;
    width: 58px;
    bottom: 89px;
    height: 58px;
    left: calc(50% + 196px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
	overflow: hidden;
}
.curriculum-footer-instagram::before{
	content: '';
	position: absolute;
	width: 120%;
	height: 120%;
	top: -100%;
	left: 100%;
	background: linear-gradient(20deg, #ffec53, #d5336200 44.71%),
    			linear-gradient(127deg, #3931c5, #d53362 45.71%);
	border-radius: 50%;
	z-index: -1;
	transition: all 0.3s ease-in;
}
.curriculum-footer-instagram:hover::before{
	top: -10%;
	left: -10%;
}
.curriculum-footer-instagram-image{
	width: 35px;
	transition: opacity 0.4s ease-in-out;
	opacity: 0;
}
.curriculum-footer-instagram:hover .curriculum-footer-instagram-image{
	opacity: 1;
}

@keyframes light-effect {
    0%{
		transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes light-effect2 {
	0%{
		left: 0;
	}
	50%{
		left: calc(100% - 80px)
	}
	100%{
		left: 0;
	}
}

@keyframes curriculumClose {
	from{
		top: -80px;
	}
	to{
		top: 15px;
	}
}

@media (max-width: 1670px) {
	.curriculum-footer-background::after{
		width: 1454px;
	}
	.curriculum-footer-mail{
		top: 157px;
		left: calc(50% - 272px);
		transform: translate(-50%, -50%);
		width: 94px;
		height: 94px;
	}
	.curriculum-footer-mail-image{
		width: 56px;
	}
	.curriculum-footer-phone{
		top: 157px;
		left: calc(50% + 104px);
		transform: translate(-50%, -50%);
		width: 94px;
		height: 94px;
	}
	.curriculum-footer-phone-image{
		width: 52px;
		margin-right: -3px;
		margin-top: -2px;
	}
	.curriculum-footer-linkedin{
		left: calc(50% - 219.5px);
    	width: 49.5px;
    	bottom: 152px;
    	height: 49.5px;
	}
	.curriculum-footer-linkedin-image{
		width: 29px;
	}
	.curriculum-footer-whatsapp{
		width: 49.5px;
		bottom: 151.7px;
		height: 49.5px;
	}
	.curriculum-footer-whatsapp-image{
		width: 31px;
	}
	.curriculum-footer-instagram{
		left: calc(50% + 166px);
    	width: 49.5px;
    	bottom: 152px;
    	height: 49.5px;
	}
	.curriculum-footer-instagram-image{
		width: 31px;
	}
}